<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHfLpXpQqJqyC3raTUtPCe2Ur4GM8Rduo</string>
	<key>GCM_SENDER_ID</key>
	<string>1063091594215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSinging</string>
	<key>PROJECT_ID</key>
	<string>bynry-cca95</string>
	<key>STORAGE_BUCKET</key>
	<string>bynry-cca95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063091594215:ios:cb9d6a26c21dd73c239342</string>
</dict>
</plist>